@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased bg-white text-gray-900 dark:bg-gray-900 dark:text-white transition-colors duration-300;
  }
}

@layer components {
  .section-padding {
    @apply px-4 md:px-8 lg:px-16 py-20;
  }
}